body {
    margin: 0;
    padding: 0;
}

/* Top Header Styles */
.top-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

/* Logo Styles */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 10px;
}

/* Page buttons list */
.menu ul {
    list-style: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: flex;
    gap: 10px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #000;
    text-decoration: none;
    padding: 10px 2px;
    font-weight: bold;
}

.menu-button {
    display: none;
}


/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu li a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.show {
    display: block;
}


/* Title section */
.title {
    background-color: #000;
    background-image: url("../images/star-night.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.title h1 {
    font-size: 70px;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.7);
}

/* Style welcome section */
.welcome-section {
    background-color: #fff;
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/*styles for pich*/
.pitch {
    font-size: 18px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 30px;
}



/* Styles for smaller screen sizes */
@media (max-width: 1000px) {
    .welcome-section {
        max-width: 50%;
    }
}

@media (max-width: 750px) {
    .welcome-section {
        max-width: 60%;
    }

    .title h1 {
        font-size: 65px;
    }
}

@media (max-width: 500px) {
    .menu {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .welcome-section {
        max-width: 75%;
    }

    .title h1 {
        font-size: 60px;
    }
}

@media (max-width: 350px) {
    .welcome-section {
        max-width: 85%;
    }

    .title h1 {
        font-size: 52px
    }

    .pitch {
        font-size: 16px;
    }
}

@media (max-width: 250px) {
    .welcome-section {
        max-width: 100%;
    }

    .pitch {
        font-size: 15px;
    }
}